<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
<!--   <br><br><p><a href="{% url 'logout' %}">logout</a></p> -->
{% else %}
<br><br><p>You are not logged in</p>
<a href="{% url 'signup' %}">Sign up</a>
<a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}