{% extends 'base-test.html' %} 
{% load static %}

{% block content %}

                <!-- Container for gooey menu example -->
                <div class="container">
                    <div class="content">
                        <div class="menu">
                            <div class="menu-wrapper">
                                <ul class="menu-items">
                                    <li class="menu-item" style="transform: rotate(120deg);">
                                        <button class="menu-item-button" style="transform: translate3d(0px, 0px, 0px);">
                                            <i class="menu-item-icon icon icon-video-camera" style="transform: rotate(-120deg);"></i>
                                        </button>
                                        <div class="menu-item-bounce" style="transform: translate3d(0px, 0px, 0px); transform-origin: 50% 50% 0px;"></div>
                                    </li>
                                    <li class="menu-item" style="transform: rotate(180deg);">
                                        <button class="menu-item-button" style="transform: translate3d(0px, 0px, 0px);">
                                            <i class="menu-item-icon icon icon-plus" style="transform: rotate(-180deg);"></i>
                                        </button>
                                        <div class="menu-item-bounce" style="transform: translate3d(0px, 0px, 0px); transform-origin: 50% 50% 0px;"></div>
                                    </li>
                                    <li class="menu-item" style="transform: rotate(240deg);">
                                        <button class="menu-item-button" style="transform: translate3d(0px, 0px, 0px);">
                                            <i class="menu-item-icon icon icon-heart" style="transform: rotate(-240deg);"></i>
                                        </button>
                                        <div class="menu-item-bounce" style="transform: translate3d(0px, 0px, 0px); transform-origin: 50% 50% 0px;"></div>
                                    </li>
                                </ul>
                                <button class="menu-toggle-button">
                                    <i class="menu-toggle-icon icon icon-sun" style="transform: translate3d(0px, 0px, 0px);"></i>
                                </button>
                            </div>
                        </div>      
                    </div>

                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="800">
                      <defs>
                        <filter id="goo">
                          <fegaussianblur in="SourceGraphic" stdDeviation="10" result="blur"></fegaussianblur>
                          <fecolormatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"></fecolormatrix>
                          <fecomposite in="SourceGraphic" in2="goo" operator="atop"></fecomposite>
                        </filter>
                      </defs>
                    </svg>  

                </div><!-- /container -->



{% endblock %}