{% extends 'base.html' %} 
{% load static %}
{% block content %}

    <div class="row">
        <div class="col header-background">
            <!-- <img src="{% static "/ninjaapp/header.jpg" %}" class="img-fluid header-background" alt="School for Ninja background"> -->
        </div>
    </div>
	{% for log in logs %}
		<li>Log Title: {{ log.postTitle }}</li>
	{% endfor %}
{% endblock content %}