{% extends 'base.html' %} 
{% load static %}

{% block content %}

    <div class="row">
        <div class="col header-background overflow-hidden">

            <img src="{% static "/ninjaapp/school-for-ninja-logo.png" %}" class="img-fluid mx-auto d-block school-for-ninja-logo" alt="School for Ninja logo">
            <h1 class="text-center index-title-1">SPELENDERWIJS JOUW KRACHT VINDEN</h1>
            <h6 class="text-center index-subtitle-1">leer meer over jezelf en je relatie met jouw omgeving</h6>
            <div class="text-center">
                <a href="{% url 'login' %}" class="btn index-button-pink" role="button">doe mee</a>
            </div>

        </div>

    </div>
    <div class="row section-1 d-flex justify-content-center">
        <div class="col-5">

            <div>
                <h5>
                    <span>DE GROOTSTE KRACHT VAN DE NINJA IS <strong>BALANS</strong></span>
                </h5>
                <p>
                    <span><br>
                    In een tijd waarin 'meer' en 'altijd aan' de limieten van de mens overstijgen, herrijst de orde van de Ninja&hellip;</span></p>
                <p>
                    <span>
                        <span>School for Ninja </span>
                        <span>biedt een <em>serious game</em> die jou meer leert over<strong> jezelf en je relatie met je omgeving</strong>.</span>
                        <span><br></span>
                        <span><br></span>
                        <span><em>Wie ben je? Wat vind jij waardevol? Welk effect heeft je omgeving op jou? Wat geeft je energie? Wanneer ben je in balans? Wat kunnen anderen van jou verwachten?</em></span>
                        <span><br></span>
                        <span><br></span>
                        <span><strong>In de game krijg je opdrachten die je in je dagelijks leven uitvoert.</strong> Deze&nbsp;<em>health-interventies</em> zijn samengesteld in samenwerking met professionele coaches, de volgorde is gebaseerd op Theory U.</span>
                    </span>
                </p>
                <p>
                    <span>Door via<strong>logs</strong> onze ervaringen (anoniem) met elkaar te delen cre&euml;we als Ninja's samen de handvatten die ons helpen om bewuste, duurzame keuzes te kunnen maken.<br></span>
                    <span><br></span>
                    <span>
                        <span>Wil je het spel vast uitproberen? Kan! We draaien nu een test met een prototype, in de vorm van een e-learning (web).</span>
                    </span>
                </p>
			</div>
            
            <div class="text-center">
                <a href="{% url 'signup' %}" class="btn index-button-pink" role="button">meld je aan</a>
            </div>

        </div>
    </div>

    <div class="row section-2">

        <div class="col-3 background-color-dark-green">
            <i class="fas fa-heart"></i>
            <h2 class="section-2-title title-light">Voor Individuen </h2>
            <p>School for ninja helpt jou je kracht te vinden door spelenderwijs de kern van jouw stress te onderzoeken.</p>
            <div class="text-center to-bottom">
                <a href="{% url 'signup' %}" class="btn index-button-white" role="button">meer info</a>
            </div>
        </div>

        <div class="col-3 background-color-light-green">
            <i class="fas fa-building"></i>
            <h2 class="section-2-title title-dark">Voor organisaties</h2>
            <p>School for Ninja helpt jouw organisatie met duurzame inzetbaarheid van medewerkers.</p>
            <div class="text-center to-bottom">
                <button type="button" class="btn index-button-white">meer info</button>
            </div>
        </div>

        <div class="col-3 background-color-red">
            <i class="fas fa-comments"></i>
            <h2 class="section-2-title title-light">VOOr zorgverleners</h2>
            <p>School for Ninja wilt professionele persoonlijke hulp niet vervangen, maar toegankelijk maken voor hen die daar behoefte aan hebben.</p>
            <div class="text-center to-bottom">
                <a href="{% url 'signupcoach' %}" class="btn index-button-white" role="button">meer info</a>
            </div>
        </div>

        <div class="col-3 background-color-pink">
            <i class="fas fa-star"></i>
            <h2 class="section-2-title title-dark">ninja talent</h2>
            <p>Wil jij werken of stage lopen bij School for Ninja?</p>
            <div class="text-center to-bottom">
                <button type="button" class="btn index-button-white">meer info</button>
            </div>
        </div>

    </div>

    <div class="section-3">
        <div class="row">
            <div class="col">

                <div class="row">
                    <div class="col-12 d-flex justify-content-center section-3-title">
                        <h3>omdat: We stress hebben</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col background-color-red ">
                        
                        <div class="row section-3-column-1">

                            <div class="col-2 d-flex justify-content-center">
                                <img src="{% static "/ninjaapp/bigbang_burnout.jpg" %}" class="section-3-picture" alt="Van Big Bang tot Burn Out">
                            </div>
                            <div class="col-10 d-flex justify-content-center section-3-text-block">
                                <div>
                                    <i class="fas fa-quote-left"></i>
					                <p><em>Stress<span> is het is het gevoel dat je hebt als je je moet aanpassen aan&nbsp; iets dat je aanpassingsvermogen te boven dreigt te gaan.</span></em></p>
					                <p><strong class="">Dr. Witte Hoogendijk</strong></p>
					                <p>Hoofd van de afdeling Psychiatrie bij Erasmus MC in 'Van big-bang tot burn-out' (2017)</p>
					            </div>
                            </div>

                        </div>
                    
                    </div>

                    <div class="col d-flex justify-content-center section-3-column-2">
								
				        <div class="section-3-text-block-2">
					        <span>Stress is een aanpassing-kwestie en ontstaat op het raakvlak van individu en omgeving. In een tijd van '<em>meer</em>' en '<em>altijd aan</em>' heeft <strong>16% </strong>van alle Nederlanders burn-out klachten. Van alle jong-volwassenen ervaart <strong>35%</strong> zoveel stress dat zij overwegen van werk te veranderen. <strong>60%</strong> van de mensen met een burnout is bang tegen dezelfde problemen aan te blijven lopen wanneer zij re-integreren. Uitval door stress kost Nederlandse werkgevers zo een <strong>2 miljard euro</strong> per jaar.&nbsp;</span><p></p>
                            <p><strong>Het doel van School for Ninja is het voorkomen en genezen van overspannenheid en burn-out. </strong></p>
                            <p><em><span>Hoe voorkom je iets waarvan je nog niet hebt ervaren dat het mogelijk problematisch wordt? En hoe zorg je ervoor dat je na een burnout niet terugvalt?</span></em></p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="section-4">

        <div class="row">
            <div class="col">

                <div class="row">
                    <div class="col-12 d-flex justify-content-center section-4-title">
                        <h3>SPELEN IS ONS ANTWOORD</h3>
                    </div>
                </div>

                <div class="row background-color-light-green">
                    <div class="col">
                        
				            <div class="section-4-text-block-2">
					            <span>Stress is een aanpassing-kwestie en ontstaat op het raakvlak van individu en omgeving. In een tijd van '<em>meer</em>' en '<em>altijd aan</em>' heeft <strong>16% </strong>van alle Nederlanders burn-out klachten. Van alle jong-volwassenen ervaart <strong>35%</strong> zoveel stress dat zij overwegen van werk te veranderen. <strong>60%</strong> van de mensen met een burnout is bang tegen dezelfde problemen aan te blijven lopen wanneer zij re-integreren. Uitval door stress kost Nederlandse werkgevers zo een <strong>2 miljard euro</strong> per jaar.&nbsp;</span><p></p>
                                <p><strong>Het doel van School for Ninja is het voorkomen en genezen van overspannenheid en burn-out. </strong></p>
                                <p><em><span>Hoe voorkom je iets waarvan je nog niet hebt ervaren dat het mogelijk problematisch wordt? En hoe zorg je ervoor dat je na een burnout niet terugvalt?</span></em></p>
                            </div>

                    </div>
                        
                    <div class="col">
                        <div class="row">

                            <div class="col-2 d-flex justify-content-center">
                                <img src="{% static "/ninjaapp/homoludens.jpg" %}" class="section-4-picture" alt="Van Big Bang tot Burn Out">
                            </div>

                            <div class="col-9 offset-1 d-flex justify-content-center section-4-text-block">
                                <div>
                                    <i class="fas fa-quote-left"></i>
					                <p><em><b>Spel</b><span> is vrije handeling, bevolen handeling is geen spel meer&hellip; Spel is niet het gewone of eigenlijke leven. Het is een uittreden daaruit in een tijdelijke sfeer van activiteit met een eigen strekking</span></em><i><span>.</span></i></p>
					                <p><strong>Johan Huizinga</strong></p>
					                <p>Historicus en cultuurwetenschapper in 'Homo Ludens' (1938)</p>
					            </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div> <!-- end of section-4 -->


    <div class="section-5">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center section-4-title">
                        <h3>HOE HET WERKT</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5 justify-content-center">
                        <img src="{% static "/ninjaapp/Home_watis01.png" %}" />
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <p>School for Ninja brengt mensen met stressklachten samen in een veilige speelomgeving. Door het uitvoeren van quests (health-interventies) en hierover schrijven (user-storytelling) onderzoeken spelers hun stress met elkaar en met professionele zorgverleners. In de School for Ninja leren spelers van stressklachten stresskrachten te maken, want stress wel begrijpen is een superkracht. Spelers kunnen dan bewuster in het leven staan en goede, duurzame beslissingen maken voor zichzelf en voor hun omgeving.</p>
                            </div>
                        </div>

                        <div class="row">
                            
                        </div>

                    </div>

                </div>


            </div>
        </div>

        

    </div>

{% endblock %}