* {
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: 'Comfortaa', display;
    font-weight: 400;

}

.header-background {
    background: url("/static/ninjaapp/header.jpg") fixed no-repeat;
    background-position: top center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    position: relative;
    height: 100vh;
    min-width: 100%;
}

.school-for-ninja-logo {
	margin-top: 6rem;
	height: 35%;
}

.index-title-1 {
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 1.5em;
}

.index-subtitle-1 {
    font-size: 0.92rem;
    padding-bottom: 10px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 1.3em;
    text-transform: uppercase;
}

.index-button-pink {
    border-color: #e26967;
    color: #FFFFFF;
    border-width: 0px !important;
    background-color: #e16c6a;
    display: inline-block;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    padding: .3em 1em;
    line-height: 1.7em !important;
    background-repeat: no-repeat;
    border: 2px solid;
    transition: all .2s;
    margin-top: 0.8rem;
}

.index-button-white {
    border-color: #FFFFFF;
    color: #000000;
    border-width: 0px !important;
    background-color: #FFFFFF;
    display: inline-block;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    padding: .3em 1em;
    line-height: 1.7em !important;
    background-repeat: no-repeat;
    border: 2px solid;
    transition: all .2s;
    margin-top: 0.8rem;
}

button:focus {
    outline: none;
}

.section-1, .section-2 {
    margin-top: 2rem;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 50px;
    -webkit-font-smoothing: antialiased;
}

.section-1 p {
    margin-bottom: 1.6em;
}

.section-2{
    color: #fff;
}

.section-2 i {
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.background-color-dark-green {
    background-color: #075e36;
}

.section-2-title {
    text-transform: uppercase;
    font-size: 1.3rem;
    -webkit-font-smoothing: antialiased;
}

.section-2 p {
    margin-bottom: 6.5rem;
    -webkit-font-smoothing: inherit;
}

.section-3, .section-4 {
    margin: 2rem 5% 2rem 5%;
}

.section-3-title, .section-4-title {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.section-3-column-1, .section-4-column-1 {
    margin: 5% 4% 5% 6%;
}

.section-3-picture {
    margin-left: auto;
    margin-right: auto;
}

.section-4-picture {
    margin-left: 100%;
    margin-top: 15%;
}
.section-3-text-block, .section-4-text-block {
    color: #FFFFFF;
}

section-3-text-block-2 {
    margin-left: auto;
    margin-right: auto;
}

.section-4-text-block {
    margin-top: 2%;
}

.title-light {
    color: #FFFFFF;
    -webkit-font-smoothing: inherit;
}

.title-dark {
    color: #000000bf;
    -webkit-font-smoothing: inherit;
}

.to-bottom {
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    margin-bottom: 2rem;
}

.background-color-light-green {
    background-color: #98e7d2;
}

.background-color-red {
    background-color: #e16c6a;
}

.background-color-pink {
    background-color: #ffc9c8;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .school-for-ninja-logo {
            height: 20%;
        }
    }
    /*Small devices (landscape phones, 576px and up)*/
    @media (min-width: 576px) {

        .school-for-ninja-logo {
            height: 20%;
        }
    }
    /*Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) {

        .school-for-ninja-logo {
            height: 25%;
        }
    }
    /*Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {

        .school-for-ninja-logo {
            height: 35%;
        }
    }
    /*Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {

        .school-for-ninja-logo {
            height: 35%;
        }
    }