﻿<!doctype html>
{% load static %}
<html lang="nl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/ninja.css">
    <link rel="stylesheet" id="tt-easy-google-fonts-css" href="https://fonts.googleapis.com/css?family=Comfortaa%3A700&amp;subset=latin%2Call&amp;ver=4.9.8" type="text/css" media="all">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- links for gooey effect  -->
    <!--<link rel="stylesheet" type="text/css" href="{% static '/gooey/normalize.css' %}">-->
    <!--<link rel="stylesheet" type="text/css" href="{% static '/gooey/font-awesome.min.css' %}">-->
    <!--<link rel="stylesheet" type="text/css" href="{% static '/gooey/vicons-font.css' %}">-->
    <!--<link rel="stylesheet" type="text/css" href="{% static '/gooey/base.css' %}">-->
    <!--<link rel="stylesheet" type="text/css" href="{% static '/gooey/menu.css' %}">-->

    <title>School for Ninja</title>
</head>

<body>
    {% if user.is_authenticated %}
    {% include 'navbar.html' %}
    {%endif%}
    <div class="container-fluid">
            {% block content %}
            {% endblock %}

        </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!--<script src="{% static '/gooey/jquery.min.js.download' %}"></script>-->
    <!--<script src="{% static '/gooey/TweenMax.min.js.download' %}"></script>-->
    <!--<script src="{% static '/gooey/menu.js.download' %}"></script>-->
</body>

</html>