{% extends 'base.html' %} 
{% load static %}

{% block content %}

    <div class="row">
        <div class="col header-background">
            <div class="row">
                <div class="col">
                    <img src="{% static "/ninjaapp/school-for-ninja-logo.png" %}" class="img-fluid mx-auto d-block school-for-ninja-logo" alt="School for Ninja logo">
                </div>
            </div>
            
        </div>
    </div>

<!-- 	<div class='header-bitcoin'>
    	<img src="{% static "/ninjaapp/BOCH.jpg" %}" >
    </div>  -->

    <!-- <br> -->

    <h1> Welcome </h1>
    <p>
    	You can Log in Here!
    </p>
    <h2> Login </h2>
    <form method='post'>
    	{% csrf_token %}
    	{{ form.as_p }}
    	<button type='submit'>Login</button>
    </form>

{% endblock %}