﻿{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col header-background">
        Profile
    </div>
</div>

<div class="row">
    <div class="col">
        <img src="/media/{{ ninja.avatar }}" />
    </div>
    <div class="col">
        Name: {{ ninja.ninja_name }}
    </div>
    <div class="col">
        Power: {{ ninja.power }}
    </div>
    <div class="col">
        Domain: {{ ninja.domain }}
    </div>
</div>

<div class="row">
    <div class="col">
        <br /><br />
        FRIENDS<br />
        {% for friend in friends %}
        <div class="row">
            <div class="col">
                {{ friend.ninja_name }}
            </div>
        </div>
        {%endfor%}
    </div>
</div>

<div class="row">
    <div class="col">
        <br /><br />
        MY LOGS<br />
        {% for log in logs %}
        <div class="row">
            <div class="col">
                {{ log.title }}
            </div>
        </div>
        {%endfor%}
    </div>
</div>


{% endblock content %}