﻿{% extends 'base.html' %}

{% block content %}

<h2>Sign up</h2>
<form method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.as_p }}
    {{ ninjaform.as_p }}
    <button type="submit">Sign up</button>
</form>
{% endblock %}