
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top py-1">
	<a class="navbar-brand" href="#">logo placeholder</a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
  	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			
			<li class="nav-item active">
		  		<a class="nav-link" href="#">Welcome test ninja</a>
			</li>
			
			<li class="nav-item">
		  		<a class="nav-link" href="#">Quests</a>
			</li>

			<li class="nav-item dropdown">
		  		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Log Boek</a>
		  		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			 		<a class="dropdown-item" href="#">Fase 1</a>
			 		<!-- <div class="dropdown-divider"></div> -->
		  		</div>
			</li>
			
			<li class="nav-item dropdown">
		  		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ninja Net</a>

		  		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			 		<a class="dropdown-item" href="#">Alle Ninja</a>
			 		<a class="dropdown-item" href="#">Coaches</a>
			 		<a class="dropdown-item" href="#">Q&acute;A</a>
			 		<!-- <div class="dropdown-divider"></div> -->
		  		</div>

			</li>
		
			<li class="nav-item">
		  		<a class="nav-link" href="/profile/">Profiel</a>
			</li>

			<li class="nav-item">
		  		<a class="nav-link" href="#">Mijn ninja Coaching</a>
			</li>
			
            <li class="nav-item">
                {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout' %}">Logout {{ user.username }}</a>
                {% else %}
                <a class="nav-link" href="{% url 'login' %}">Login </a>
                {% endif %}
            </li>

			<li class="nav-item dropdown">
		  		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Debug</a>

		  		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			 		<a class="dropdown-item" href="/">Home</a>
			 		<a class="dropdown-item" href="/ninjapi/">NINJAPI</a>
			 		<a class="dropdown-item" href="/testaction/">Test action</a>
			 		<a class="dropdown-item" href="/classbasedview/">Class based view</a>
			 		<a class="dropdown-item" href="/admin/">Admin</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/test-codrops/">Test Codrops stuff</a>
			 		<!-- <div class="dropdown-divider"></div> -->
		  		</div>

			</li>
			<li class="nav-item">
				<p class="nav-link"><i class="fas fa-server"></i>&nbsp;{{ SCHOOLFORNINJA_VERSION }}</p>
			</li>


	 	</ul>


<!-- 		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	 	</form> -->

  </div>
</nav>
{% endblock %}